<div class="card bg-white mt-4 mb-4 shadow-sm">
    <div class="card-body px-5 py-4">
        <p>
            <li>In this part of the experiment, you will be <strong>randomly assigned to a group of three
                    participants (you and two others)</strong>.</li>
        </p>
        <p>
            <li>Each participant will be <strong>randomly assigned a unique color label</strong> to ensure complete
                anonymity.</li>
        </p>


        <p>
            <li>Each participant has the same <strong>three options to choose how to split the $12</strong>.
                Each participant will <strong>choose one of three options for splitting the $12</strong>. Each
                participant will decide which option they prefer.
            </li>
        </p>
        <p>
            <li><strong>For Example:</strong> Imagine you are the Yellow Participant, and you are interacting with a
                Purple and an Orange Participant. Your options are:
        </p>
        <ul>
            <p>
                <li>Equally split the $12 with both the two Participants (everyone gets $3);
                    <!-- ($ 3 to each Participant in the group)-->
                </li>
            </p>
            <p>
                <li>Equally split the $12 only with the Purple Participant (you get $6, Purple gets $6, Orange gets $0);<!--  ($6 to you and $6 to the Purple Participant, and
                    $0 to
                    the Orange Participant)--></li>
            </p>
            <p>
                <li>Equally split the $12 only with the Orange Participant (you get $6, Purple gets $0, Orange gets $6); <!--- ($6 to you and $6 to the Orange Participant, and
                    $0 to
                    the Purple Participant)--></li>
            </p>
        </ul>

        <p>
            <li><strong>If at least two participants in the group agree on the same option, you and the
                    participants of your group will all be paid
                    accordingly</strong>. Otherwise, <strong>if no agreenment is reached, you and your group will earn
                    $0</strong>.
            </li>
        </p>
        <p>
            Now imagine you are the Yellow Participant, and in your group there are the Orange and Purple Participants.
            The
            possible outcomes, are the folliwing:
        </p>
        <ul>
            <li>
                <strong>Dividing the $12 equally among all members:</strong>
                <ul>
                    <li> <strong>If you and another Participant both choose to split equally with both the two
                            Participants, each
                            participant of your group earns $3</strong>. <br>
                        <em>(Example: You (Yellow) and the Orange participant both choose to split equally with both the
                            two
                            participants of the group;
                            The Purple participant chooses to split only with the Orange participant. In this case, all
                            three participants earn $3.)</em>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Dividing the $12 equally with only one member:</strong>
                <ul>
                    <li> <strong>If you and another Participant both choose to split equally only with
                            each other, you both
                            earn $6, and the other Participant earns $0</strong>. <br>
                        <em>(Example: You (Yellow) and the Orange participant choose to split equally only with each
                            other; The
                            Purple participant chooses to split equally with both the two participants. You (Yellow) and
                            the Orange participants earn $6, and the
                            Purple
                            participant earns
                            $0.)</em>
                    </li>
                </ul>
            </li>
            <li>
                <strong>No Agreement:</strong>
                <ul>
                    <li> <strong>If no Participants choose the same option, everyone earns $0</strong>. <br>
                        <em>(Example: You (Yellow) choose to split equally with both the two participants; The
                            Orange
                            participant chooses to split equally only with you (Yellow);
                            The Purple participant chooses to split equally only with the Orange participant. In this
                            case, everyone earns $0.)</em>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="card-body px-5 py-4">
        <h4>Chat Instructions</h4>

        <p>
            <li><strong>Before choosing your option to divide the $12, you have maximum 10 minutes to
                    communicate</strong> freely with
                the
                other participants.</li>
        </p>
        {# === Visibilità dei messaggi: testo specifico del trattamento ===
           Modificare il ramo PUBLIC o PRIVATE in modo indipendente: editare uno
           non tocca l'altro. #}
        {% if reveal_third_party_chat %}
        {# ---- Ramo PUBLIC (comunicazione pubblica) ---- #}
        <p>
            <li> <strong>Messages are public</strong>, you will see the messages sent by you, received by the each of
                the other participants, and the messages sent between the other participants. After the chat period,
                before choosing your option on how to divide the $12,<strong>you will see the messages sent between the
                    other two participants, and viceversa (each participant will see messages from conversations they
                    are not directly involved in).</strong> In these messages
                you can explain to each of them what division
                you intend to choose, and what division you think
                they should choose. You can write different messages to the different participants.</li>
        </p>
        {% else %}
        {# ---- Ramo PRIVATE (comunicazione privata, baseline) ---- #}
        <p>
            <li> <strong>Messages are private</strong>, and you will only see the messages sent by you,
                and received by the each of the other participants. <strong>You will not see the messages sent between
                    the other two participants, and viceversa (each participant will only see messages from
                    conversations they are directly involved in).</strong> In these messages
                you can explain to each of them what division
                you intend to choose, and what division you think
                they should choose. You can write different messages to the different participants.</li>
        </p>
        {% endif %}


        </p>

        <p>
            {# === Visibilità del final message: testo specifico del trattamento === #}
            {% if reveal_third_party_chat %}
            {# ---- Ramo PUBLIC ---- #}
            <li>
                After the chat period, before choosing your option on how to divide the $12, <strong>you will select
                    pre-written messages </strong> to send to each of the other two participants. The messages <strong>
                    will be visible to all the participants in your group</strong>. The pre-written
                messages are the following:
            </li>
            {% else %}
            {# ---- Ramo PRIVATE ---- #}
            <li>
                After the chat period, before choosing your option on how to divide the $12, <strong>you will select
                    pre-written messages </strong> to send to each of the other two participants. The messages <strong>
                    will only be visible to the specific participant they are addressed to</strong>. The pre-written
                messages are the following:
            </li>
            {% endif %}
        </p>

        <ul>
            <li> I wish to split the $12 equally with you only.</li>
            <li> I wish to split the $12 equally with the other Participant only.</li>
            <li> I wish to split the $12 equally with the two Participants.</li>
        </ul>



        <p>
            <em><strong>Please note:</strong> Revealing your identity to other participants, and using, discriminatory
                or
                offensive language, are strictly prohibited. Conversations will be analyzed after the end of the
                experimental session and before payments are finalized. If it is found that the above conditions have
                been
                violated, your payment for this experiment will be completely forfeited. We expect and appreciate your
                cooperation in maintaining a keeping this polite.</em>
        </p>



        <h4>Summary</h4>

        <p>
            In summary, Part 1 will proceed as follows:
        </p>
        <ol>
            <li>Chat with each of the other participants of the group. </li>
            <li>Each participant of the group sends a final message to each of the other
                participants
                of the group.</li>
            <li>Each participant of the group makes their final decision on how they
                would
                like to split the $12.</li>
            <li>Payments are determined and will be communicated at the end of the experiment.
            </li>
            <li>Please note that if a participant drops out before sending their final message or making a final
                decision, random decisions will be made for them.</li>
            <li>Note that all chat will be with real people: no chatbots are used in this experiment.</li>
        </ol>
    </div>
</div>